node_modules
.next
out
build
coverage
.vercel
pnpm-lock.yaml
public/cv.pdf
cv/*.aux
cv/*.bbl
cv/*.bcf
cv/*.blg
cv/*.fdb_latexmk
cv/*.fls
cv/*.log
cv/*.out
cv/*.run.xml
cv/*.synctex.gz
cv/*.toc
cv/*.xdv
cv/*.pdf
